/* TODO: DESIGN THAT STUFF, DAWG! */

h2 small {
  font-size: .45em;
}

#container {
  margin-left: 30px;;
}

#header {
  background: #bbb;
  padding-left: 20px;
  padding-top: 20px;
}

#content {
  background: #eee;
  padding-left: 20px;
  padding-bottom: 20px;
}

label {
  margin-right: 5px;
  margin-left: 15px;
}

input.text {
  width: 60px;
}

input#description {
  width: 230px;
}