<% title "editing #{@user.login}" %>

<%= form_for @user, :action => resource(@user), :method => :put do %>
  <div id="login"><%= text_field :login, :label => "login" %></div>
  <div id="submit"><%= submit "update" %></div>
<% end =%>