<div id="users">

<h1 id="users">Users</h1>

<% @users.each do |user| %>
  <div class="user" id="<%= id(user) %>">
    <h3 id="<%= id(user, :login) %>">
      <%= link_to user.login, resource(user) %>
    </h1>
    <small>Joined on <%= user.created_at.formatted(:pretty) %></small>
  </div>
<% end %>
</div>