---
development: &defaults
  adapter: sqlite3
  database: lifestyle_development.sqlite3

test:
  <<: *defaults
  database: lifestyle_test.sqlite3

production:
  <<: *defaults
  database: lifestyle_production.sqlite3

rake:
  <<: *defaults
