<% title "new report" %>

<%= error_messages_for @report %>

<%= form_for @report, :action => resource(@user, :reports), :method => :post do %>
  <div id="day"><%= text_field :day, :label => "day" %></div>
  <div id="submit"><%= submit "create" %></div>
<% end =%>